# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Jupyter Notebook
.ipynb_checkpoints


# TensorFlow files
*.tfcache*
*.pkl


# Folders
resources/
data/
logs/
cache/
figures/
experiments/


# Latex files
thesis/build/*
#!thesis/build/*.pdf
*.pdf
